<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Accueil</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/cv"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >CV</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cv/infos" routerLinkActive="active"
      >Infos</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="servers" routerLinkActive="active"
      >Severs</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="ms-word" routerLinkActive="active"
      >Ms-word</a
    >
  </li>
</ul>
